.background-linear-gradient {
    height: 30vh;
} 


.tours {
flex-direction: column;    
}
.banner-explore-your-travel {
    height: 30vh;
    margin-bottom: 50px;
}

.tours img {
margin-top: 40px;


}
.discount-background1,.discount-background2,.discount-background3 {
 
    background-size: cover;
    background-position: center;
}
