/* header section responsive */

.option-button {
    flex-direction: column;
}
.banner-title {
    font-size: 30px;
    margin-top: 190px;
}

.banner-explore-your-travel {
    max-width: 90%;
    margin: 15px auto;
    
}
.banner-text {
 padding-left: 20px;
 padding-right: 40px;
    color: #FFF;
    text-align: center;
}
.banner-explore-your-travel {
background-position: center;
}
.banner-explore-your-travel {
    max-width: 90%;
    margin: 0px auto;
}

/* end  */

/* tours section responsive */

main {
    max-width: calc(100% - 13%);
    margin: 0px auto;
}

.tours {
    flex-direction: column;
}

.tours img {
    width: 100%;
    object-fit: cover;
}
.tours-content{
    padding-left: 6%;
    margin-bottom: 4%;
}



/* grid section */

.grid-img{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.grid-img img{
    width: 100%;
    height: 30vh;
}
/* grid section end */


  /* why choose us section */

  .card-container {
    flex-direction: column;
}

.center-title {
    max-width: 100%;
    margin-left: 0%;
    margin-bottom: 7%;
}
.card {
    padding: 10%;
}


/* news letter section */

.news-letter-container {
    flex-direction: column;
}

.news-letter-content {
    padding: 5% 10% 5% 10%;
    max-width: 100%;
}
.Subscribe {
    padding: 10px 76% 8px 4px;
}

.news-letter-img {
    max-width: 95%;
    margin-top: 6%;

}
.news-letter-img img {
    width: 100%;
    height: 100%;
    margin-left: 2%;
}


.travel {
    max-width: 55%;
    bottom: 11.5%;
    left: 50%;
    transform: rotate(-45deg) translateX(49px) translateY(33px);
}
h3 {
    font-size: 15px;
}

/* footer section */

.footer {
    padding: 0px;
}
/* footer end */











































































/* so sad its can't work */
/* nav bars */
nav{
    padding: 0px;
    
}
ul{
    display: none;
}
nav > ul {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
}
.nav-h2 {
    font-size: 19px;
}
.bars{
    display: block;
    position: relative;
    left: 60px;
}
nav ul a{
    display: block;
    font-size: 10px;
    display: none;
}
ul {
    position:relative;
    right: 100px;
    display: none;
}
